<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: header">Header TODO</header>
<section>
    <h1 th:text="|Welcome Dr ${doctor.getName()}|">Welcome Dr John Smith</h1>
    <h3 th:text="|Your number is ${doctor.getNumber()}|">Your number is 0</h3>
</section>
<footer th:replace="footer.html :: footer">Footer TODO</footer>
</body>
</html>